/* ... global ... */
body {
    font-family: 'Inter', sans-serif;
    background-color: #2c2c2c;
    color: #fff;
}

.dark-section {
    background-color: #121212;
}

/* root variable */
:root {
    --primary-text-color: #121418;
    --secondary-text-color: #F54923;
    --font-karla: "karla", serif;
    --icon-text-border-color: #847E7E;
}

/* trending section */
.trending-header {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 1.8rem;
    font-size: .9rem;
    text-transform: uppercase;
}


/* tranding section */
.tranding-section {
    margin-top: 100px;
}

/* searchcard component */
.suggest-img {
    width: 95px;
}

.SearchCard {
    position: sticky;
    top: 80px;
}

.tagcloud {
    background-color: #e9ecef;
    font-size: 10px;
    font-weight: 600;
    padding: 2px;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px;
}

/* block detail page */
.blocg-detail {
    margin-top: 110px;
}

.blocg-title {
    font-size: 50px;
    /* letter-spacing: 1px; */
}

.auther-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.dropcap {
    float: left;
    font-weight: 700;
    line-height: 0.8;
}

.comment-form {
    border: none;
}

.comment-avtar {
    width: 45px;
    height: 45px;
    /* border-radius: 50%; */
}

.comment-form-div {
    height: 200px;
}

.comment-form-div textarea {
    resize: none;
}


/* ======================================= */

.icon {
    font-size: 80px;
    margin-bottom: 20px;
    display: inline-block;
    animation: float 3s ease-in-out infinite;
}

.empty-head {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f65e27;
}

.empty-para {
    font-size: 1.1rem;
    color: #4cec84;
    max-width: 400px;
    line-height: 1.6;
}